<div class='bg-div'>
  <div class='p-4'>
    <button (click)='logout()' class="float-right btn btn-light" type="submit">Logout</button>
  </div>
  <br />
  <div class='main-container d-flex justify-content-center align-items-center pt-5'>
    <div class='mt-5'>
      <input (keypress)='searchPlanets()' type="text" class="form-control form-control-lg search-input" id="searchInput"
        placeholder="Search Planets" />
    </div>
  </div>
  <div class='d-flex flex-wrap justify-content-between'>
    <app-srollable-container [data]='planets'></app-srollable-container>
  </div>
</div>