<div class='bg-div'>
  <div class='p-4 d-flex justify-content-between header'>
    <h4 class='text-secondary'>Welcome to Planet Search</h4>
    <div (click)='logout()' class="logout">Logout</div>
  </div>
  <br />
  <div class='d-flex justify-content-center pt-5 info-question'>
      <h3>Which planet do you want to search?</h3>
  </div>
  <div class='main-container d-flex justify-content-center align-items-center'>
    <div>
      <input (ngModelChange)='searchPlanets($event)' [(ngModel)]='planetSearch' type="text"
        class="form-control form-control-lg search-input" id="searchInput" placeholder="You can provide your input here" />
    </div>
  </div>
  <div class="d-flex justify-content-center">
      <h4 *ngIf='!allPlanets' class='span-link' (click)='searchedPlanets = planets; allPlanets = true'>Show all Planets</h4>
      <h4 *ngIf='allPlanets' class='span-link' (click)='searchedPlanets = []; allPlanets = false'>Hide all Planets</h4>
  </div>
  <div class='p-4'>
    <app-srollable-container [data]='searchedPlanets'></app-srollable-container>
  </div>
</div>