<!-- <div *ngIf='sortedData' class='d-flex flex-wrap justify-content-between p-2 scroll-container'>
  <div *ngFor='let planet of sortedData' class='card p-1 m-2 w-25 flex-fill'>
    <h5 class="card-title">Planet: <b>{{planet.name}}</b></h5>
    <span class='card-text'>Population: <b>{{planet.population}}</b></span>
  </div>
</div> -->

<div *ngIf='sortedData' class='d-block p-2 scroll-container'>
  <div *ngFor='let planet of sortedData' class='card p-1 m-2 w-25 d-inline-block'>
    <h5 class="card-title">{{planet.name}}</h5>
    <span class='card-text'>Population: <b>{{planet.population}}</b></span>
  </div>
</div>