.scroll-container {
    min-width: 320px;
    max-height: 300px;
    overflow-y: scroll
}

.sorted-card {
  border-radius: 4px;
  background: #00000094;
  color: cadetblue;
  min-width: 320px;
}

.bar{
  width: 300px;
  background: #ffcaca36
}

.progress {
  background: #084f51;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000094; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cadetblue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #084f51;
  }